body{
    box-sizing: border-box;
@import "https://fonts.fontstorage.com/import/roboto.css";



}

@font-face {
// название шрифта(чтобы не запутаться лучше указать название папки со шрифтом)
font-family: "Inter";
// адрес шрифта и тип
src: url("../fonts/inter-Black.OTF") format("OpenType");

}
.main-form__button{
    background-color: #1A226B;
    width: 180px;
    height: 52px;
    margin-left:210px ;
    font-size: 24px;
    line-height: 16px;
    color: white;
    margin-top: -20px;
    font-weight:bold;
    margin-top: 25px;
}
    .main {


        width: 1440px;
        height: 1184px;

    }

    .main-header{
        /*background-color:blue;*/

        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        width: 1440px;
        height: 80px;
        margin:0 auto ;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        row-gap: 0; // расстояние между строками
    column-gap: 0;

    }

    .main-header-logo{
width:222px ;
        height: 50px;
        margin-left: 30px;
    }
.main-header-frontend {
    margin-left:30px;
    margin-right: 628px;
    font-size: 36px;
font-weight: 700;
    line-height: 43px;
    color:#787878 ;
    width: 242px;
    height: 44px;
    font-family: Inter;
}
    .main-header-registration {
        width: 157px;
        height: 29px ;
        font-size: 24px;
        font-weight: 700;
        line-height: 29px;
        color:#1A226B ;
margin-right: 28px;
        font-family: Inter;

    }
    .main-header-entrance {
        width: 60px;
        height: 29px;
        font-size: 24px;
        font-weight: 700;
        line-height: 29px;
        color:#787878 ;
        font-family: Inter;

    }
    .main-header__img{
        width: 222px;
    }
    .main-form{
        width: 600px;
        height: 875px;
-        background: #FFFFFF;
        box-shadow: 0px 0px 40px 10px rgba(0, 0, 0, 0.25);
        margin-top: 100px;
        margin-left:420px ;
    }
.main-form p{
    padding: 0;
    margin-bottom: 5px;
}
    .main  input{
        width: 510px;
        height: 49px;
        margin-left: 45px;
        border: 2px solid #787878;
        font-size: 28px;
        line-height: 36px;
        color: #787878;
        margin-top: -15px;
        margin-bottom: 7px;
    }
    .main .main-form__radio{
        width: 20px;
        height: 20px;
        margin-left: 45px;
        border: 2px solid #787878;
        border-radius: 20px;
            }

    .main-form__radio {
        position: absolute;
        z-index: -1;
        opacity: 0;
    }


    /* *********************************
    Фейковая радиокнопка
    ********************************* */

    .custom-radio-btn {
        position: relative;
        display: inline-block;
        width: 20px;
        height: 20px;
        background: #ffffff;
        border: 2px solid #787878;
        border-radius: 50%;
        vertical-align: text-top;

    }

    .custom-radio-btn::before {
        content: "";

        /* Рисуем внешний круг */
        display: inline-block;
        width: 12px;
        height: 12px;
        background: #787878;
        border-radius: 50%;

        /* Выравниваем по центру */
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%) scale(0);

        transition: 0.2s ease-in;
    }
    .main-form__radio:checked + .custom-radio-btn::before {
        transform: translate(-50%, -50%) scale(1);
    }
    .main-form__radio {
        /* Скрываем реальную радио кнопку*/
        width: 0;
        height: 0;
        position: absolute;
        opacity: 0;
        z-index: -1;
    }

    .main-form__textarea{
        width: 510px;
        height: 246px;
        margin-left: 45px;
        border: 2px solid #787878;
        font-size: 28px;
        line-height: 36px;
        color: #CCCCCC;
        margin-bottom: 3px;
    }
.main-form__textarea::placeholder {
    font-size: 28px;
    line-height: 36px;
    color: #CCCCCC;
}
    .main  .main-form__checkbox{
        width: 24px;
        height: 24px;
        border: 2px solid #787878;
        border-radius: 7px;
        position: relative;
        left: 0 ;
        margin-left: -40px;
    }

    .main-form__checkbox {
        position: absolute;
        z-index: -1;
        opacity: 0;
    }
.main-form-checkbox__text{
    position: relative;
    top: 2px;
    left: -30px;
}

    /* *********************************
    Фейковая радиокнопка
    ********************************* */

    .custom-checkbox-btn {
        position: relative;
        display: inline-block;
        width: 20px;
        height: 20px;
        background: #ffffff;
        border: 2px solid #787878;
                vertical-align: text-top;
    }

    .custom-checkbox-btn::before {
        content: "";

        /* Рисуем внешний круг */
        display: inline-block;
        width: 12px;
        height: 12px;
        background: #787878;


        /* Выравниваем по центру */
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%) scale(0);

        transition: 0.2s ease-in;
    }
    .main-form__checkbox:checked + .custom-checkbox-btn::before {
        transform: translate(-50%, -50%) scale(1);
    }
    .main-form__checkbox {
        /* Скрываем реальную радио кнопку*/
        width: 0;
        height: 0;
        position: absolute;
        opacity: 0;
        z-index: -1;
    }

.main-form__input-first::-webkit-input-placeholder {
    font-size: 28px;
    line-height: 36px;
    color: #787878;
    padding-left: 15px;
    font-weight:bold
}
.main-form__input-first::-moz-placeholder          {
    font-size: 28px;
    line-height: 36px;
    color: #787878;
    padding-left: 15px;
    font-weight:bold

}/* Firefox 19+ */
    .main-form__input-first:-ms-input-placeholder      {   font-size: 28px;
        line-height: 36px;
        color: #787878;
        padding-left: 15px;

    }
.main-form__input-first::placeholder {
    font-size: 28px;
    line-height: 36px;
    color: #787878;
    padding-left: 15px;
}
#main-form__email-hidden{
    display: none;
}


#main-form__email-hidden::-webkit-input-placeholder {
    font-size: 28px;
    line-height: 36px;
    color: #CCCCCC;
    padding-left: 15px;
    font-weight:bold
}
#main-form__email-hidden::-moz-placeholder          {
    font-size: 28px;
    line-height: 36px;
    color: #CCCCCC;
    padding-left: 15px;
    font-weight:bold

}/* Firefox 19+ */
#main-form__email-hidden::-ms-input-placeholder      {   font-size: 28px;
    line-height: 36px;
    color: #CCCCCC;
    padding-left: 15px;

}
#main-form__email-hidden::placeholder      {   font-size: 28px;
    line-height: 36px;
    color: #CCCCCC;
    padding-left: 15px;

}
    input::-webkit-input-placeholder {
        font-size: 28px;
        line-height: 36px;
        color: #CCCCCC;
        padding-left: 15px;
        font-weight:bold;
    }
    input::-moz-placeholder          {
        font-size: 28px;
        line-height: 36px;
        color: #CCCCCC;
        padding-left: 15px;
        font-weight:bold;

    }
    input::-ms-input-placeholder      {   font-size: 28px;
        line-height: 36px;
        color: #CCCCCC;
        padding-left: 15px;
        font-weight:bold;

    }
input::placeholder      {   font-size: 28px;
    line-height: 36px;
    color: #CCCCCC;
    padding-left: 15px;
    font-weight:bold;

}
    .main-form__input-second {

    }
    .main-form__password__label{
    }

.main-form-radio__text, .main-form-checkbox__text {
    margin-left: 43px;
    font-family: Roboto;
    font-size: 14px;
    line-height: 16px;
    font-weight: 400;
    color:#787878;
}



    .main-form__heading{
        text-align: center;
        font-size: 50px;
        line-height: 50px;
        color: #787878;
        padding-top: 30px;
        margin-bottom: 0;
        font-weight:bold;
    }



    .main  label{

        margin-left: 53px;
        font-size: 16px;
        line-height: 16px;
        color: #787878;
        font-weight:bold;
        margin-bottom:0;
    }


    /*input:first-child {
        margin-top: -15px;
        margin-bottom: 35px;
    }*/
.main-form-email__error, .main-form-password__error, .main-form-password-replay__error {
    float: right;
    margin-right: 45px;
    color: #EE2424;
    font-weight: 700;
    font-size: 16px;
    line-height: 16px;
    font-family: Roboto;
}
.main-form__text{
    margin-left: 45px;
    font-family: Roboto;
    font-size: 16px;
    line-height: 16px;
    font-weight: 700;
    color:#787878 ;
    margin-top:0 ;
}

.main-form__text-about-me{
    margin-left: 45px;
    font-family: Roboto;
    font-size: 16px;
    line-height: 16px;
    font-weight: 700;
    color:#787878 ;
    margin-top:10px;
}




@media only screen and (max-width: 1439px) and (min-width: 769px) {
    .main-form{
        margin-top: 99px;

        margin-left:  calc((100vw - 600px)/2);

    }

    .main {


        width: 100vw;
        height: 1183px;

    }

    .main-header{

        width: 100vw;
        height: 80px;


    }
    .main-header-logo{
    margin-left: calc((100vw - 222px - 242px - 157px - 60px - 20px)*30/759);
    }
    .main-header-frontend {
        margin-left: calc((100vw - 222px - 242px - 157px - 60px - 20px)*30/759);
        margin-right:calc((100vw - 222px - 242px - 157px - 60px - 20px)*628/759);
    }
    .main-header-registration {
        margin-right:calc((100vw - 222px - 242px - 157px - 60px - 20px)*28/759);
    }
   /* .main-header-entrance {
        margin-right:calc((100vw - 222px - 242px - 157px - 60px - 60px)*43/759);

    }*/
    }
@media only screen and (max-width:768px) {

    .main-form__button{
        background-color: #1A226B;
        width: calc(180/768* 100vw);
        height: calc(52/1184* 100vh);
        margin-left:calc(210/768* 100vw);

        font-size: calc(24/768* 100vw);
        line-height: calc(16/768* 100vw);
        color: white;
        font-weight:bold;
        margin-top: calc(25/1184* 100vh);
        margin-bottom: calc(36/1184* 100vh);

    }
    .main {


        width: 100vw;
        height: 100vh;

    }

    .main-header{
        /*background-color:blue;*/

        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        width: 100vw;
        height: calc(80/1184* 100vh);
        margin:0 auto ;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        row-gap: 0; // расстояние между строками
    column-gap: 0;

    }

    .main-header-logo{
        width:calc(125/768* 100vw);
        height: calc(25/1184* 100vh);
        margin-left: calc(20/768* 100vw);
    }
    .main-header-frontend {
        margin-left:calc(34/768* 100vw);
        margin-right: calc(219/768* 100vw);
        font-size: calc(24/768* 100vw);
        font-weight: 700;
        line-height: calc(29/768* 100vw);
        color:#787878 ;
        width: calc(162/768* 100vw);
        height: calc(29/1184* 100vh);
        font-family: Inter;
    }
    .main-header-registration {
        width: calc(105/768* 100vw);
        height: calc(19/1184* 100vh);
        font-size: calc(16/768* 100vw);
        font-weight: 700;
        line-height: calc(19/768* 100vw);
        color:#1A226B ;
        margin-right: calc(36/768* 100vw);
        font-family: Inter;

    }
    .main-header-entrance {
        width: calc(40/768* 100vw);
        height: calc(19/1184* 100vh);
        font-size: calc(16/768* 100vw);
        font-weight: 700;
        line-height: calc(19/768* 100vw);
        color:#787878 ;
        font-family: Inter;

    }
    .main-header__img{
        width: calc(124/768* 100vw);
    }
    .main-form{
        width: calc(600/768* 100vw);
        /*height: calc(875/1184* 100vh);*/
        height: auto;
        background: #FFFFFF;
        box-shadow: 0px 0px 40px 10px rgba(0, 0, 0, 0.25);
        margin-top: calc(80/1184* 100vh);
        margin-left:calc(84/768* 100vw);
    }
    .main-form p{
        padding: 0;
        margin-bottom: calc(5/1184* 100vh);;
    }
    .main  input{
        width: calc(510/768* 100vw);
        height: calc(49/1184* 100vh);
        margin-left: calc(45/768* 100vw);
        border: 2px solid #787878;
        font-size: calc(28/768* 100vw);
        line-height: calc(36/768* 100vw);
        color: #787878;
        margin-top: calc(-15/1184* 100vh);
        margin-bottom: calc(7/1184* 100vh);
    }
    .main .main-form__radio{
        width: calc(20/768* 100vw);
        height: calc(20/1184* 100vh);
        margin-left: calc(45/768* 100vw);
        border: 2px solid #787878;
        border-radius: calc(10/768* 100vw);;
    }

    .main-form__radio {
        position: absolute;
        z-index: -1;
        opacity: 0;
    }


    /* *********************************
    Фейковая радиокнопка
    ********************************* */

    .custom-radio-btn {
        position: relative;
        display: inline-block;
        width: calc(20/768* 100vw);
        height: calc(20/1184* 100vh);
        background: #ffffff;
        border: 2px solid #787878;
        border-radius: 50%;
        vertical-align: text-top;

    }

    .custom-radio-btn::before {
        content: "";

        /* Рисуем внешний круг */
        display: inline-block;
        width: calc(12/768* 100vw);
        height: calc(12/1184* 100vh);
        background: #787878;
        border-radius: 50%;

        /* Выравниваем по центру */
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%) scale(0);

        transition: 0.2s ease-in;
    }
    .main-form__radio:checked + .custom-radio-btn::before {
        transform: translate(-50%, -50%) scale(1);
    }
    .main-form__radio {
        /* Скрываем реальную радио кнопку*/
        width: 0;
        height: 0;
        position: absolute;
        opacity: 0;
        z-index: -1;
    }

    .main-form__textarea{
        width: calc(510/768* 100vw);
        height: calc(246/1184* 100vh);
        margin-left: calc(45/768* 100vw);
        border: 2px solid #787878;
        font-size: calc(28/768* 100vw);
        line-height: calc(36/768* 100vw);
        color: #787878;
        margin-bottom: calc(3/1184* 100vh);
    }
    .main-form__textarea::placeholder {
        font-size: calc(28/768* 100vw);
        line-height: calc(36/768* 100vw);
        color: #CCCCCC;
    }
    .main  .main-form__checkbox{
        width: calc(24/768* 100vw);
        height: calc(24/1184* 100vh);
        border: 2px solid #787878;
        border-radius: calc(7/768* 100vw);
        position: relative;
        left: 0 ;
        margin-left: calc(-40/768* 100vw);
    }

    .main-form__checkbox {
        position: absolute;
        z-index: -1;
        opacity: 0;
    }
    .main-form-checkbox__text{
        position: relative;
        top: calc(2/1184* 100vh);
        left: calc(-30/768* 100vw);
    }

    /* *********************************
    Фейковая радиокнопка
    ********************************* */

    .custom-checkbox-btn {
        position: relative;
        display: inline-block;
        width: calc(20/768* 100vw);
        height: calc(20/1184* 100vh);
        background: #ffffff;
        border: 2px solid #787878;
        vertical-align: text-top;
    }

    .custom-checkbox-btn::before {
        content: "";

        /* Рисуем внешний круг */
        display: inline-block;
        width: calc(12/768* 100vw);
        height: calc(12/1184* 100vh);
        background: #787878;


        /* Выравниваем по центру */
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%) scale(0);

        transition: 0.2s ease-in;
    }
    .main-form__checkbox:checked + .custom-checkbox-btn::before {
        transform: translate(-50%, -50%) scale(1);
    }
    .main-form__checkbox {
        /* Скрываем реальную радио кнопку*/
        width: 0;
        height: 0;
        position: absolute;
        opacity: 0;
        z-index: -1;
    }

    .main-form__input-first::-webkit-input-placeholder {
        font-size: calc(28/768* 100vw);
        line-height: calc(36/768* 100vw);
        color: #787878;
        padding-left: calc(15/768* 100vw);
        font-weight:bold
    }
    .main-form__input-first::-moz-placeholder          {
        font-size: calc(28/768* 100vw);
        line-height: calc(36/768* 100vw);
        color: #787878;
        padding-left: calc(15/768* 100vw);
        font-weight:bold;

    }/* Firefox 19+ */
    .main-form__input-first:-ms-input-placeholder      {   font-size: 28px;
        line-height: calc(36/768* 100vw);
        color: #787878;
        padding-left: calc(15/768* 100vw);

    }
    .main-form__input-first::placeholder {
        font-size: calc(28/768* 100vw);
        line-height: calc(36/768* 100vw);
        color: #787878;
        padding-left: calc(15/768* 100vw);
    }



    #main-form__email-hidden::-webkit-input-placeholder {
        font-size: calc(28/768* 100vw);
        line-height: calc(36/768* 100vw);
        color: #CCCCCC;
        padding-left: calc(15/768* 100vw);
        font-weight:bold
    }
    #main-form__email-hidden::-moz-placeholder          {
        font-size: calc(28/768* 100vw);
        line-height: calc(36/768* 100vw);
        color: #CCCCCC;
        padding-left: calc(15/768* 100vw);
        font-weight:bold

    }/* Firefox 19+ */
    #main-form__email-hidden::-ms-input-placeholder      {   font-size: 28px;
        line-height: calc(36/768* 100vw);
        color: #CCCCCC;
        padding-left: calc(15/768* 100vw);

    }
    #main-form__email-hidden::placeholder      {   font-size: 28px;
        line-height: calc(36/768* 100vw);
        color: #CCCCCC;
        padding-left: calc(15/768* 100vw);

    }
    input::-webkit-input-placeholder {
        font-size: calc(28/768* 100vw);
        line-height: calc(36/768* 100vw);
        color: #CCCCCC;
        padding-left: calc(15/768* 100vw);
        font-weight:bold;
    }
    input::-moz-placeholder          {
        font-size: calc(28/768* 100vw);
        line-height: calc(36/768* 100vw);
        color: #CCCCCC;
        padding-left: calc(15/768* 100vw);
        font-weight:bold;

    }
    input::-ms-input-placeholder      {   font-size: 28px;
        line-height: calc(36/768* 100vw);
        color: #CCCCCC;
        padding-left: calc(15/768* 100vw);
        font-weight:bold;

    }
    input::placeholder      {   font-size: 28px;
        line-height: calc(36/768* 100vw);
        color: #CCCCCC;
        padding-left: calc(15/768* 100vw);
        font-weight:bold;

    }
    .main-form__input-second {

    }
    .main-form__password__label{
    }

    .main-form-radio__text, .main-form-checkbox__text {
        margin-left: calc(43/768* 100vw);
        font-family: Roboto;
        font-size: calc(14/768* 100vw);
        line-height: calc(16/768* 100vw);
        font-weight: 400;
        color:#787878;
    }



    .main-form__heading{
        text-align: center;
        font-size: calc(50/768* 100vw);
        line-height: calc(50/768* 100vw);
        color: #787878;
        padding-top:  calc(30/1184* 100vh);
        margin-bottom: 0;
        font-weight:bold;
    }



    .main  label{

        margin-left: calc(53/768* 100vw);
        font-size: calc(16/768* 100vw);
        line-height: calc(16/768* 100vw);
        color: #787878;
        font-weight:bold;
        margin-bottom:0;
    }


    /*input:first-child {
        margin-top: -15px;
        margin-bottom: 35px;
    }*/
    .main-form-email__error, .main-form-password__error, .main-form-password-replay__error {
        float: right;
        margin-right: calc(45/768* 100vw);
        color: #EE2424;
        font-weight: 700;
        font-size: calc(16/768* 100vw);
        line-height: calc(16/768* 100vw);
        font-family: Roboto;
    }
    .main-form__text{
        margin-left: calc(45/768* 100vw);
        font-family: Roboto;
        font-size: calc(16/768* 100vw);
        line-height: calc(16/768* 100vw);
        font-weight: 700;
        color:#787878 ;
        margin-top:0 ;
    }

    .main-form__text-about-me{
        margin-left: calc(45/768* 100vw);
        font-family: Roboto;
        font-size: calc(16/768* 100vw);;
        line-height: calc(16/768* 100vw);
        font-weight: 700;
        color:#787878 ;
        margin-top: calc(10/1184* 100vh);
    }







}